.navigation-panel {
    background: transparent;

}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
}

#navbar li {
    list-style: none;
    padding: 20px 20px;
    position: relative;
    z-index: 999;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    color: #ECECEC;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;

}

#navbar li a:hover {
    color: #024E00;
    transition: .3s ease-in-out;
}


#navbar li a:after {
    content: "";
    height: 1px;
    bottom: 30%;
    position: absolute;
    left: 0%;
    right: 100%;
    background: #024E00;
    transition: right 0.25s ease-in-out;
}

#navbar li a:hover:after {
    right: 5%;
}

nav a {
    z-index: 999;
}

.dark-back {
    background-color: rgba(25, 23, 23, 0.25);
}
